@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
    background-color: rgba(variables.$color-lightblue, 0.3);
    color: white;
    text-align: center;
    border: none;
    border-radius: calc(variables.$baseunit * 2);
    @include mixins.boxShadow;
    margin: 0 0 calc(variables.$baseunit * 2) 0;
}

.cardcontent {
    padding: calc(variables.$baseunit * 2);
}

.cardname {
    @include mixins.text_with_shadow;
    text-align: center;
    margin: 0;
}