@use '../abstracts/variables';
@use '../abstracts/mixins';

#randommain {
    margin: 0;
    padding-top: variables.$baseunit;
    max-width: 100%;
}

#backbutton {
    margin-left: variables.$baseunit;
}

#randomsection {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#randomtext {
    margin: calc(variables.$baseunit * 2);
    font-size: variables.$fontsize-name;
}